name: Ruby CI

on:
  push:
    branches: [main, develop]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [2.6, 2.7, 3.0, 3.1]
    steps:
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          gem install bundler
          bundle install
      - name: Run RSpec
        run: bundle exec rspec
